.Header {
  text-align: center; 
  color: white;
}

#brain {
  z-index: 2;
  width: 250px;
  height: 200px;
}

#HeaderBtn {
  margin: .5em;
}

.HeaderInput {
  text-align: center;
}

.jumbotron {
  background-color: #EF4997; 
}

.HomeBody {
  text-align: center;
}